<html><head>
<link rel="stylesheet" href="/static/styles/style.css">
<script src="/static/scripts/index.js"></script>
</head><body background="/static/images/front.jpg" style="background-size:100%,100%;background-repeat: no-repeat">
<center>
<div id="banner"><center><img style="border:0;height:200px;border-radius: 15px;" src='/static/images/logo.jpg'></center></div>
<h2>Underground Comics</h2>
<br>

<div><center>
Welcome to the HOTH Comic Book Server<br>
Hopefully you are here to read some comics!<br>
I hope you enjoy reading comics here! If you do, tell your friends!
<br><br>
<i>"With great power there must also come ... great responsibility!"</i> <br><sub>- Amazing Fantasy #15, Aug. 1962</sub> <br><br>
Thank you for participating in my Comic Book Server Beta</center></div>
<br>
<br>
<a style="width:600px;" class="cbrLink button clickable" href="/index.html">Take Me To The Comics</a>
</center>
</body></html>
