<html>
<head>
<link rel="stylesheet" href="/static/styles/style.css">
<link rel="icon" type="image/ico" href="/static/images/favicon.ico"/>
<script src="/static/scripts/jquery-1.11.0.min.js"></script>
<script src="/static/scripts/jquery.backstretch.min.js"></script>
<script>
$(document).ready(function () {
        var bimage = "/static/images/initback.jpg"
        $.backstretch(bimage);
});
</script>
</head>

<body onload="window.location='/welcome.html';">
<div style="position:absolute;top:70%;left:30%;">
<img style="opacity:0.8;" src="/static/images/please_wait.gif"></img
</div>
</body>
</html>
