<html><head>
<link rel="stylesheet" href="/static/styles/style.css">
<script src="/static/scripts/index.js"></script>
</head><body onload='scrollToTop();'>
<div id="banner"><img src='/static/images/logo.jpg'></div>
<h2>Underground Comics</h2>
<img id="loading" style="display: none;" src='/static/images/loading.gif'>
{{ links|safe }}
<br>
<br>
<h5>
	Written and designed by Matt.<br>
	Hoth Server<br>
	He who whould eat the kernel must first crack the shell.
</h5>
<br>
<br>
<img id="helpLink" class="clickable" onclick='toggleHelp();' src='/static/images/info.png'>
<div id='helpContent' style='display: none;'>
	<div class="clickable" style="float: right;" onclick="hideHelp();">X</div>
	Thank you for participating in the beta version of Comic Book Server<br> If you run into problems please document what happened and send me an email.<br>
	Enjoy, and Excelsior!<br>
	<br>
	Interested in the code? Check out the project on <a href='http://mharlos.github.io/ComicBookServer/'>Github</a>
	<div class="clear"></div>
</div>
</body></html>
