.clear {
	clear: both;
}

.clickable {
	cursor: pointer;
}

body {
	background-color: black;
	color: white;
	font-family: sans-serif;
}

#banner {
	text-align: center;
}

#banner img {
	height: 200px;
}

h2 {
	font-family: serif;
	text-align: center;
}

.wordswordswords {
	color: black;
}

#loading {
	position: fixed;
	width: 100%;
	text-align: center;
	top: 25%;
}

#helpLink {
	width: 32px;
	height: 32px;
	position: fixed;
	bottom: 5px;
}

#helpContent {
	background-color: black;
	position: fixed;
	left: 80%;
	bottom: 5px;
	width: 20%;
	/*color: white;*/
}

.button {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	display: block;
	-webkit-box-shadow: inset 3px 3px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 3px 3px 12px 0px rgba(0,0,0,0.75);
	box-shadow: inset 3px 3px 12px 0px rgba(0,0,0,0.75);
}

.cbrLink {
	background-color: yellow;
	color: black;
}

.dirLink {
	background-color: #AAA;
	color: black;
}
